ul {
    list-style: none;
    padding: 0;
}

p {
    color: #444;
}

button:focus {
    outline: 0;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 50px;
}

.text-align {
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
}

.page-description {
    font-size: 1.1rem;
    margin: 0 auto;
}

.tz-link {
    font-size: 1em;
    color: #1da7da;
    text-decoration: none;
}

.no-browser-support {
    display: none;
    font-size: 1.2rem;
    color: #e64427;
    margin-top: 35px;
}

.app {
    margin: 50px auto;
    height: 150px;
}

#note-textarea {
    margin: 20px 0;
}

#recording-instructions {
    margin: 15px auto 60px;
}

#notes {
    padding-top: 20px;
}

.note .header {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
}

.note .delete-note,
.note .listen-note {
    text-decoration: none;
    margin-left: 15px;
}

.note .content {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .container {
        padding: 50px 25px;
    }

    button {
        margin-bottom: 10px;
    }

}   



@media (max-width: 1200px) {
    #bsaHolder{ display:none;}
}

/** ios1-ios6 bubbles **/
.bubble {
    box-sizing: border-box;
    float: left;
    width: auto;
    max-width: 80%;
    position: relative;
    clear: both;
   
    background: #95c2fd;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
    background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
    background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
    background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
    background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
    background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#95c2fd', endColorstr='#bee2ff');
   
    border: solid 1px rgba(0,0,0,0.5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
   
    -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    padding: 6px 20px;
    color: #000;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    word-wrap: break-word;
  }
  

  .bubble-alt {
    right:-1000px;
  }
  .bubble-alt:before {
    left: auto;
    right: -7px;
  }
  .bubble-alt:after {
    left: auto;
    right: -5px;
  }
   
  .bubble-p {
    font-size: 1.4em;
  }

  .green {
    background: #7acd47;
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #98db78),color-stop(1, #7acd47));
    background-image: -webkit-linear-gradient(bottom, #98db78 15%, #7acd47 100%);
    background-image: -moz-linear-gradient(bottom, #98db78 15%, #7acd47 100%);
    background-image: -ms-linear-gradient(bottom, #98db78 15%, #7acd47 100%);
    background-image: -o-linear-gradient(bottom, #98db78 15%, #7acd47 100%);
    background-image: linear-gradient(bottom, #98db78 15%, #7acd47 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7acd47', endColorstr='#98db78');
  }
  /* bubble end */


/* mic button */

body{
    font-size: 15px;}
.gn{
  position:relative;
  margin: 5% auto;
  background-color:rgb(76, 116, 226);
  border-radius:50%;
  width:10em; height:10em;
}
:before, :after{
  content:'';
  position:absolute;
  background-color:#fff;
}
.gn:after{
  top:30%; left:43%;
  height:15%; width:14%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}
.gn:before{
  top:40%; left:43%;
  height:15%; width:14%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}
.mc{
  position:absolute;
  top:50%; left:37%;
  height:24%;
  width:26.5%;
  overflow:hidden;
}
.mc:before{
  bottom:50%;
  width:100%; height:100%;
  box-sizing:border-box;
  border-radius:50%;
  border:0.5em solid #fff;
  background:none;
}
.mc:after{
  top:50%; left:40%;
  width:20%; height:25%;
}

@import url(http://thecodeplayer.com/uploads/fonts/fontawesome/css/font-awesome.min.css);
 * {
    margin:0;
    padding:0;
}
.mic-container {
    width:150px;
    background-color:#e74c3c;
    display:block;
    margin:100px auto 0px auto;
    border-radius:100%;
    box-shadow:0px 0px 15px 2px #bdc3c7;
    cursor:pointer;
    transition:.3s all ease-in;
    position:relative;
}


.icon-microphone {
    color:white;
    font-size:60px;
    line-height:150px;
    display:block;
    text-align:center;
    transition:.1s all ease-in;
}
.mic-container:hover {
    background-color:#27ae60;
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
.mic-container:active {
    background-color:#e74c3c;
}
.mic-container:active .icon-microphone {
    color:#ecf0f1;
}

@keyframes swing {
    15% {
    transform: translateX(5px);
    }
    30% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(3px);
    }
    65% {
    transform: translateX(-3px);
    }
    80% {
    transform: translateX(2px);
    }
    100% {
    transform: translateX(0);
    }
}

/* mic button end */

/* background image (disabled)*/

  /* body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstarwarsblog.starwars.com%2Fwp-content%2Fuploads%2F2015%2F04%2FScreen-Shot-2015-04-08-at-4.31.55-PM-2400x1200-699742151983.jpg&f=1&nofb=1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 132%;
    opacity : 0.5;
    z-index: -1;
  } */



/* background image end */

/* typing indicator */

.typing-indicator {
    background-color: #F5F5F5;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    padding: 1rem 1.5rem 2rem;
    position: absolute;
    top:330px ;
    animation: 2s pulse infinite ease-out;
}

.typing-indicator::before,
.typing-indicator::after {
     content: '';
     position: absolute;
     bottom: -11px;
     left: -11px;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background-color: #F5F5F5;
 }
.typing-indicator::after {
     height: 10px;
     width: 10px;
     left: -17px;
     bottom: -17px;
 }

 .typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator span:nth-child(1)
{
    animation: 1s blink infinite .3333s;
}

.typing-indicator span:nth-child(2)
{
    animation: 1s blink infinite .6666s;
}

.typing-indicator span:nth-child(3)
{
    animation: 1s blink infinite .9999s;
}

@keyframes blink
{
    50% {
        opacity: 1;
    }
}

@keyframes pulse
{
    50% {
        transform: scale(1.05);
    }
}

.typing-indicator-right {
    background-color: #F5F5F5;
    width: 100px;
    height: 50px;
    border-radius: 30%;
    padding: 1rem 1.5rem 2rem;
    position: absolute;
    top: 190px;
    left: 1100px;
    animation: 2s pulse infinite ease-out;
}

.typing-indicator-right::before,
.typing-indicator-right::after {
     content: '';
     position: absolute;
     bottom: -11px;
     left: 90px;
     height: 20px;
     width: 20px;
     border-radius: 50%;
     background-color: #F5F5F5;
 }
.typing-indicator-right::after {
     height: 10px;
     width: 10px;
     left: 105px;
     bottom: -17px;
 }

 .typing-indicator-right span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9E9EA1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}

.typing-indicator-right span:nth-child(1)
{
    animation: 1s blink infinite .3333s;
}

.typing-indicator-right span:nth-child(2)
{
    animation: 1s blink infinite .6666s;
}

.typing-indicator-right span:nth-child(3)
{
    animation: 1s blink infinite .9999s;
}
  


/* typing indicator end */


/* background animation */

.animation-area{
    background: linear-gradient(to left, #8942a8, #ba382f);
    width: 100%;
    height: 100vh;
}

.box-area{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li{
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255,255,255,0.2);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}


.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}

@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

/* background animation end */

/* wave title */

  
  .loading {
    text-transform: uppercase;
    font-family: 'Cabin Condensed', sans-serif;
    font-weight: bold;
    font-size: 100pt;
    text-align: center;
    height: 120px;
    line-height: 110px;
    /* vertical-align: bottom; */
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
    display: block;
  }
  
  @keyframes wave-animation {
    0% {
      background-position: 0 bottom;
    }
    100% {
      background-position: 200px bottom;
    }
  }
  @keyframes loading-animation {
    0% {
      background-size: 200px 0px;
    }
    100% {
      background-size: 200px 200px;
    }
  }
  .wave {
    background-image: url("https://i.imgur.com/uFpLbYt.png");
    -moz-background-clip: text;
    -o-background-clip: text;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
    animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
    background-size: 200px 100px;
    background-repeat: repeat-x;
    opacity: 1;
  }
  
/* wave title end  */

/* hover letters */

/* hover letters end */